body {
  font-family: "Silkscreen regular";
  margin: 0;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.container {
  text-align: center;
}

.canvas-container {
  margin-bottom: 20px;
  border: 1px solid #000;
  display: inline-block;
}

canvas {
  display: block;
  background-color: #FFFFFF;
}

button {
  display: block;
  margin: 0 auto;
  font-family: "Silkscreen regular";
  height: 50px;
  width: 120px;
  background-color: #1D1F20;
  color: #FFFFFF;
  border: none;
  border-radius:  20px;
  cursor: pointer;
  text-align:center;
}

#backButton{
  font-family: "Silkscreen regular";
  height: 40px;
  width:100px;
  position: absolute;
  background-color: #1D1F20;
  color: #FFFFFF;
  border: none;
  top: 5%;
  left: 0;
  border-radius:  20px;
  cursor: pointer;
  text-align:center;
}

#previousButton{
  font-family: "Silkscreen regular";
  height: 40px;
  width:100px;
  position: absolute;
  background-color: #1D1F20;
  color: #FFFFFF;
  top: 90%;
  left: 0;
  border: none;
  border-radius:  20px;
  cursor: pointer;
  text-align:center;
}

#nextButton{
  font-family: "Silkscreen regular";
  height: 40px;
  width:100px;
  position: absolute;
  background-color: #1D1F20;
  color: #FFFFFF;
  border: none;
  top: 90%;
  right: 0;
  border-radius:  20px;
  cursor: pointer;
  text-align:center;
}

